/**
  blue: #223047
  cyan: #00fff1
 */


html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dosis', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 100%;
    font-weight: 500;
}

.wrapper {
    overflow-x: hidden;
}



/** Nav **/
.nav {
    border-bottom: 1px solid #4e596c;
}

.nav .navbar-brand {
    font-size: 35px;
    color: #00fff1;
}

.nav .navbar-brand span {
    vertical-align: super;
    font-size: 25px;
}
.nav .btn-get-app {
    font-size: 14px;
    width: 18%;
    max-width: 180px;
    min-width: 150px;
}

/** Intro **/
.intro {
}

.intro h3 {
    color: #FFF;
    font-size: 39px;
    margin-top: 25%;
}

.intro p {
    color: #97a4be;
    font-size: 14px;
    line-height: 29px;
}

.intro .vector-smartphone {
    position: relative;
    bottom: -60px;
}

/** Sections **/
section {
    background-color: #FFF;
}

section .title {
    font-size: 30px;
    line-height: 40px;
    color: #233148;
    text-align: center;
}

section .description {
    font-size: 14px;
    line-height: 29px;
    color: #97a4be;
}

section .card {
    -webkit-box-shadow: -2px 2px 25px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: -2px 2px 25px -5px rgba(0,0,0,0.15);
    box-shadow: -2px 2px 25px -5px rgba(0,0,0,0.15);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 0;
}


/** Features **/
.features {
    margin-top: 150px;
    margin-bottom: 117px;
}

.features hr {
    width: 96px;
    border: 2px solid #00fff0;
    margin: 80px auto;
}

.features .card {
    padding: 25px;
}

.features .card img {
    width: 90px;
    margin: 0 auto;
}

.features .card .text {
    display: block;
    font-size: 17px;
    text-align: center;
}

.features .card p {
    font-size: 14px;
    text-align: center;
    color: #97a4be;
}

/** Get More Section **/
.get-more-section {
    background-color: #323a4d;
    height: 560px;
}

.get-more-section .half {
    background-color: #f5f6fa;
}

.get-more-section .content {
    width: 70%;
}

.get-more-section .title {
    text-align: left;
    width: 60%;
}

/** Stable and Ready Section **/
.stable-and-ready-section {
    height: 560px;
}

.stable-and-ready-section .title,
.stable-and-ready-section .description {
    text-align: right;
}

/** Summary Section **/
.summary {

}

.summary .screen {
    position: relative;
    bottom: -80px;
}

.summary .card {
    padding: 23px;
    margin: 16px 0;
}

.summary .card p {
    font-size: 14px;
    color: #233148;
    margin-left: 35px;
}

.summary .lines {
    color: #233148;
    font-size: 17px;
}

.summary .lines .icon {
    margin-right: 17px;
}

.summary .half {
    margin-top: 60px;
}

/** App Availability Section **/
.app-availability {
    background-color: #f5f6fa;
    height: 530px;
}

.app-availability .title {
    text-align: right;
}

.app-availability .description {
    text-align: right;
}

.app-availability ul {
    list-style: none;
    padding-left: 0;
}
.app-availability li {
    position: relative;
    text-align: right;
    margin-bottom: 8px;
}

.app-availability li:before {
    content: '';
    border-radius: 50%;
    padding: 7px;
    background-image: url(../images/check.png);
    background-color: #00fff1;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    position: absolute;
    right: 70px;
    top: 5px;
}

.app-availability .screenshot-container {
    overflow: hidden;
}

.app-availability .screenshots {
    position: relative;
    bottom: -60px;
}

/** Video **/
.video {
    height: 580px;
    background-color: #223047;
}

.video .play-label {
    text-transform: uppercase;
    font-size:  17px;
    color: #FFF;
}

.video p {
    color: #FFF;
    font-size: 14px;
    text-align: center;
}

/** Map **/
.map {
    height: 500px;
}

.map .bg {
    background: url('../images/map.png') center/80% no-repeat
}

.map h3 {
    font-size: 30px;
}

.map span {
    font-size: 17px;
    font-weight: 300;
}

.map .btn {
    width: 150px;
}

/** Testimonial **/
.testimonial {
    height: 350px;
    background-color: #223047;
}

.testimonial p {
    font-size: 18px;
    color: #00fff1;
}

/** Now Available **/

.now-available {
    height: 580px;
    background-color: #f5f6fa;
}

.now-available .row {
    position: relative;
}

.now-available .smart-phones {
    height: 75%;
}

.now-available h3 {
    font-size: 40px;
    color: #233148;
}

.now-available p {
    font-size: 17px;
    font-weight: 300;
    color: #97a4be;
}

.now-available .istore,
.now-available .playstore {
    width: 130px;
}

.now-available .btn-get-app-big {
    width: 40%;
    max-width: 400px;
    padding: 15px;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    bottom: -56px;
}


/** Footer **/

.footer {

}

.footer .links {
    margin-top: 100px;
}

.footer .links span {
    font-size: 17px;
}

.footer .links ul {
    padding: 0;
    list-style-type: none;
}

.footer .links ul li {
    font-weight: 300;
    font-size: 14px;
}

/** Subscribe **/

.footer .subscribe {
    height: 300px;
}

.footer .subscribe h3 {
    font-size: 30px;
    text-align: center;
}

.footer .subscribe span {
    font-size: 17px;
    font-weight: 300;
    text-align: center;
}

.footer .subscribe .email {
    padding: 25px 15px;
    background-color: #f5f6fa;
    border: 0;
}

.footer .subscribe .btn-submit {
    padding: 12px 15px;
}

/** Foot **/

footer.social-nav {
    background-color: #223047;
    height: 100px;
}

footer.social-nav .name {
    font-size: 17px;
    color: #00fff1;
}

footer.social-nav {
    text-align: center;
}

footer.social-nav i {
    color: #FFF;
    font-size: 25px;
}

/**
 * Overrides
 */
.nav .navbar-nav .nav-item .nav-link {
    color: #FFF;
    font-size: 14px;
}

.btn {
    font-weight: 600;
}

/**
 * Custom styles
 */

.bg-blue {
    background-color: #223047;
}

.bg-cyan {
    background-color: #233148;
}


.btn-border, .btn-border:hover, .btn-border:active, .btn-border:visited {
    border: 1px solid #FFF;
    color: #FFF;
}


.btn-cyan, .btn-cyan:hover, .btn-cyan:active, .btn-cyan:visited {
    background-color: #00FFF1 !important;
    color: #233148;
}